.nav {
  box-sizing: border-box;

  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    display: flex;
    align-items: center;

    gap: 1.5rem;
    .a {
      padding: 8px 20px;
      width: 180px;
      border-radius: 5px;
      border: 1px solid #cdd9f7;
    }
    p {
      border-radius: 5px;
      border: 1px solid #cdd9f7;
      padding: 8px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #040A19;
      font-family: Cera Compact Pro;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
